<div class="container">
  <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="title">Bem vindo, informe o usuário e a senha :)</div>
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Usuário</mat-label>
        <input matInput autocomplete="off" formControlName="user">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Senha</mat-label>
        <input matInput type="password" autocomplete="off" formControlName="password">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>